/*	--------------------------------------------------------------------------
	Editor Styling
*/

@font-face { font-family: 'IBM Plex Mono'; font-style: normal; font-weight: 400; font-display: swap; src: url(fonts/IBMPlexMono.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face { font-family: 'IBM Plex Sans'; font-style: normal; font-weight: 400; font-display: swap; src: url(fonts/IBMPlexSansRegular.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

:root{
	/* Backgrounds */
	--ce-bg: #232323;
	--ce-fg: rgb(223, 223, 223);
	--ce-fg1:rgba(223, 223, 223, 0.418);

	--ce-bg1: #323232;

	/* Colors */
	--ce-color-fg: #000;
	--ce-good: rgb(72, 240, 114);
	--ce-warn: rgb(240, 201, 72);
	--ce-error: rgb(240, 83, 72);
	--ce-blue: rgb(72, 173, 240);
}

::-moz-selection { background: yellow; color: #000; }
::selection { background: yellow; color: #000; }

/*	--------------------------------------------------------------------------
	App structure
*/

html{
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: var(--ce-bg);
	color: var(--ce-fg);
	margin: 0px;
	padding: 0px;
}

body{
	border: 1px solid var(--ce-bg);
	background-color: none;
	margin: 0px;
	padding: 0px;
}


p, h1, h2, h3, h4, h5, h6{
	margin: 0px;
	padding: 0px;
	cursor:default;
}

.no-clicks {
	pointer-events: none;
}

.noselect { cursor:default; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

button{
	border: none;
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0);
	color: var(--ce-fg);
	transition: 0.1s ease;
	cursor: pointer;
	margin: 0px;
	min-height: 32px;
	padding: 10px;
}
button:hover{
	background-color: rgba(202, 202, 202, 0.219);
	padding: 10px;
}
button:active, button:focus{
	padding: 10px;
}
.btn_dark{
	
}

/* 	--------------------------------------------------------------------------
	Editor Components
*/

.code{
	font-family: 'IBM Plex Mono', monospace;
}

.titlebar{
	background-color: var(--ce-bg1);
	-webkit-app-region: drag;
	height: 32px;
	font-size: 14px;
	border: 5px var(--ce-bg1); /* IMPORTANT! This bypasses the drag region so window resizing corners is not disrupted */
}

.flex{
	display: flex;
}
.row{
	flex-direction: row;
}
.col{
	flex-direction: column;
}
.space{
	justify-content: space-between;
}
.space-right{
	justify-content: right;
}
.m-center {
    margin: auto 0;
}

.i-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

/*	--------------------------------------------------------------------------
	Animations
*/
@keyframes colorChange {
	0%{fill:#ffffff}
	50%{fill:rgb(255, 150, 150)}
	100%{fill: #ffffff}
}
.box {
	animation: colorChange 3s infinite;
}
